# REGULAR EXPRESSION ASSIGNMENT

In [ ]:
# Q 2,8,9,19,23,25,28 [TRIED LOT, BUT NOT ABLE TO GET PERFECT OUTPUT AS REQUIRED]

In [1]:
import re

In [2]:
#Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

Sample_Text = 'Python Exercises, PHP exercises.'

result=re.sub(r'\W',':',Sample_Text)
print(result)

Python:Exercises::PHP:exercises:

# QUESTION NO 2 [TRIED LOT, BUT NOT ABLE TO SOLVE COMPLETLY]

In [93]:
#Question 2-  Create a dataframe using the dictionary below 
              #and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words
    
import pandas as pd

df=pd.DataFrame({'SUMMARY' : ['hello, world!', '***** test', '123four, five:; six...']})
df

                  SUMMARY
0           hello, world!
1              ***** test
2  123four, five:; six...

In [94]:
df['SUMMARY'].str.extract(r'(\w+).\s(\w+)')

         0      1
0    hello  world
1      NaN    NaN
2  123four   five

In [3]:
#Question 3- Create a function in python to find all words that are at least 4 characters long in a string. 
             #The use of the re.compile() method is mandatory.
    
target_string= "It is being learnt that Kohli has claimed the top spot on the list of most searched cricketers in Google’s history"

pattern=re.compile(r'\w{4}')

result=pattern.findall(target_string)
print(result)

['bein', 'lear', 'that', 'Kohl', 'clai', 'spot', 'list', 'most', 'sear', 'ched', 'cric', 'kete', 'Goog', 'hist']

In [4]:
#Question 4- Create a function in python to find all three, four, and five character words in a string. 
             #The use of the re.compile() method is mandatory.
    
target_string = 'The enduring bond between Pranab and Indira Gandhi was a cornerstone, with Mukherjee unwavering loyalty being a defining characteristic.'

pattern=re.compile(r'\w{3,5}')

result=pattern.findall(target_string)
print(result)

['The', 'endur', 'ing', 'bond', 'betwe', 'Prana', 'and', 'Indir', 'Gandh', 'was', 'corne', 'rston', 'with', 'Mukhe', 'rjee', 'unwav', 'ering', 'loyal', 'being', 'defin', 'ing', 'chara', 'cteri', 'stic']

In [95]:
#Question 5- Create a function in Python to remove the parenthesis in a list of strings. 
             #The use of the re.compile() method is mandatory.

Sample_Text = "example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"

pattern=re.compile(r'\(|\)')

for new in Sample_Text:
    result=pattern.sub('',new)
    print(result)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

In [9]:
#Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

Sample_Text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

for new in Sample_Text:
    result=re.sub(r'\(\W\w.*\)|\(\w.*\)','',new)
    print(result)

example
hr@fliprobo
github
Hello
Data

In [25]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.

Sample_text = 'ImportanceOfRegularExpressionsInPython'

result=re.findall(r'[A-Z][^A-Z]*',Sample_text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [ ]:
#Question 8- Create a function in python to insert spaces between words starting with numbers.

In [ ]:
#Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [11]:
#Question 10- Use the github link below to read the data and create a dataframe. 
#After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

import pandas as pd
df=pd.read_csv('happiness_score.csv')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [12]:
first_five_letters=df[df['Country'].str.contains(r'\w{6}')]
first_five_letters

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
149,Guinea,Sub-Saharan Africa,150,3.656,0.03590,0.17417,0.46475,0.24009,0.37725,0.12139,0.28657,1.99172
151,Burkina Faso,Sub-Saharan Africa,152,3.587,0.04324,0.25812,0.85188,0.27125,0.39493,0.12832,0.21747,1.46494
152,Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302

In [13]:
#Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

string_text = 'virat kohli has scored 13848 RUNS in his one day international career'

result = re.search(r'(\b\d+).+(\b[A-Z]+\b).+(\b[a-z]+\b)',string_text)

print(result.groups())
print(result.group(1))
print(result.group(2))
print(result.group(3))

('13848', 'RUNS', 'career')
13848
RUNS
career

In [14]:
#Question 12- Write a Python program where a string will start with a specific number. 

string ='1939, the Nazi invasion of Poland, the war dragged on for six bloody years until the Allies defeated the Axis powers of Nazi Germany, Japan and Italy in 1945.'

result = re.match('\d+',string)
result

In [7]:
#Question 13- Write a Python program to remove leading zeros from an IP address

sample = '216.08.094.196'

result=re.sub('\.[0]+','.',sample)
result

'216.8.94.196'

In [24]:
#Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

text_file = " On August 15th 1947 that India was declared independence from British colonialism, and the reins of control were handed over the leaders of the Country."

result= re.search("(August).+(15th).+(\d+)",text_file)
print(result)

<re.Match object; span=(4, 20), match='August 15th 1947'>

In [16]:
#Question 15- Write a Python program to search some literals strings in a string. 

Sample_text='The quick brown fox jumps over the lazy dog.'

result=re.findall(r'fox|dog',Sample_text)
result

['fox', 'dog']

In [26]:
#Question 16- Write a Python program to search a literals string in a string and 
              #also find the location within the original string where the pattern occurs
    
Sample_text = 'The quick brown fox jumps over the lazy dog.'

result=re.search(r'(fox)',Sample_text)
print(result)
print(result.group())

<re.Match object; span=(16, 19), match='fox'>
fox

In [27]:
#Question 17- Write a Python program to find the substrings within a string.

Sample_text = 'Python exercises, PHP exercises, C# exercises'

result=re.search(r'\bexercises',Sample_text)
result

In [31]:
#Question 18- Write a Python program to find the occurrence and position of the substrings within a string

target_string = 'Bananas are not only very delicious piece of fruit and they are also super healthy. Eating two bananas a day can do wonders for your health.'

result=re.finditer(r'Bananas|bananas|healthy|health',target_string)

for new in result:
    print(new)
    print(new.group())

<re.Match object; span=(0, 7), match='Bananas'>
Bananas
<re.Match object; span=(75, 82), match='healthy'>
healthy
<re.Match object; span=(95, 102), match='bananas'>
bananas
<re.Match object; span=(133, 139), match='health'>
health

In [ ]:
#Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [34]:
#Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. 
              #The use of the re.compile() method is mandatory.
    
Sample_Text= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

pattern=re.compile(r'\s')

result=pattern.split(Sample_Text)
result

['01.12', '0132.123', '2.31875', '145.8', '3.01', '27.25', '0.25']

In [66]:
#Question 21- Write a Python program to separate and print the numbers and their position of a given string.

string='Ema is a beasketball player who was born on june 17,1993. she played 1122 matches with a scoring average of 22 points per game.'

result=re.finditer(r'\d+',string)

for new in result:
    print(new)
    print(new.group())

<re.Match object; span=(49, 51), match='17'>
17
<re.Match object; span=(52, 56), match='1993'>
1993
<re.Match object; span=(69, 73), match='1122'>
1122
<re.Match object; span=(108, 110), match='22'>
22

In [67]:
#Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

Sample_Text ='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

import pandas as pd
df=pd.DataFrame({'My marks in each semester are': [947, 896, 926, 524, 734, 950, 642]})
df.max()

My marks in each semester are    950
dtype: int64

In [ ]:
#Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [ ]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

pattern=r'[A-Z]+[a-z]+'

In [97]:
#Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [88]:
#Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

import re

pattern=r'^\w+$'

string = 'ABCxyz007'

result=re.findall(pattern,string)
print(result)

['ABCxyz007']

In [85]:
#Question 27-Write a python program using RegEx to extract the hashtags.

Sample_Text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

result=re.findall(r'#.\S+',Sample_Text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [ ]:
#Question 28- Write a python program using RegEx to remove <U+..> like symbols

In [74]:
#Question 29- Write a python program to extract dates from the text stored in the text file.

Sample_Text = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."

result=re.findall(r'\d{1,2}.\d{1,2}.\d{4}',Sample_Text)
print(result)

['12-09-1992', '15-12-1999']

In [73]:
#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.

Sample_Text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

pattern=re.compile(r'\w{4,15}')

result=pattern.findall(Sample_Text)
print(result)

['following', 'example', 'creates', 'ArrayList', 'with', 'capacity', 'elements', 'elements', 'then', 'added', 'ArrayList', 'ArrayList', 'trimmed', 'accordingly']